.navigation-wrapper {
  display: contents;
}
 
.navigation-container1 {
  display: contents;
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}
 
.navigation-container4 {
  width: 247px;
  height: 28px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.navigation-icon1 {
  width: 108px;
  height: 34px;
  padding-bottom: 3px;
}
 
.navigation-link5 {
  text-decoration: none;
}
 
.navigation-navigation-toggle-icon1 {
  top: 50%;
  left: 50%;
  color: var(--color-on-surface);
  width: 24px;
  height: 24px;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: opacity var(--animation-duration-fast)
        var(--animation-curve-primary),
      transform var(--animation-duration-fast) var(--animation-curve-primary);
}
 
.navigation-navigation-toggle-icon2 {
  top: 50%;
  left: 50%;
  color: var(--color-on-surface);
  width: 24px;
  height: 24px;
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: opacity var(--animation-duration-fast)
        var(--animation-curve-primary),
      transform var(--animation-duration-fast) var(--animation-curve-primary);
}
 
.navigation-container5 {
  display: none;
}
 
.navigation-container6 {
  display: contents;
}
 
.navigation-container7 {
  display: none;
}
 
.navigation-container8 {
  display: contents;
}
 
.about-us-fragment1 {
  display: contents;
}
 
.about-us-text10 {
  display: inline-block;
}
 


.footer-wrapper {
  display: contents;
}
 
.footer-container1 {
  display: contents;
}
 
.footer-link23 {
  text-decoration: none;
}
 
.footer-footer-contact-link2 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
 
.footer-link25 {
  text-decoration: none;
}
 
.footer-container2 {
  display: none;
}
 
.footer-container3 {
  display: contents;
}
 
.footer-container4 {
  display: none;
}
 
.footer-container5 {
  display: contents;
}
 
.about-us-fragment2 {
  display: contents;
}
 
.about-us-text36 {
  display: inline-block;
}
 
.about-us-fragment3 {
  display: contents;
}
 
.about-us-text37 {
  display: inline-block;
}

.about-us-container1 {
  width: 100%;
  display: block;
  min-height: 100vh;
}
 
.about-us-fragment1 {
  display: contents;
}
 
.about-us-text10 {
  display: inline-block;
}
 
.about-us-container3 {
  display: contents;
}
 
.about-us-container4 {
  display: none;
}
 
.about-us-container5 {
  display: contents;
}
 
.about-us-container6 {
  display: none;
}
 
.about-us-container7 {
  display: contents;
}
 
.about-us-fragment2 {
  display: contents;
}
 
.about-us-text36 {
  display: inline-block;
}
 
.about-us-fragment3 {
  display: contents;
}
 
.about-us-text37 {
  display: inline-block;
}
