.navigation-container1 {
  display: contents;
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}
 
.navigation-container4 {
  width: 247px;
  height: 28px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.navigation-icon1 {
  width: 108px;
  height: 34px;
  padding-bottom: 3px;
}
 
.navigation-link5 {
  text-decoration: none;
}
 
.navigation-navigation-toggle-icon1 {
  top: 50%;
  left: 50%;
  color: var(--color-on-surface);
  width: 24px;
  height: 24px;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: opacity var(--animation-duration-fast)
        var(--animation-curve-primary),
      transform var(--animation-duration-fast) var(--animation-curve-primary);
}
 
.navigation-navigation-toggle-icon2 {
  top: 50%;
  left: 50%;
  color: var(--color-on-surface);
  width: 24px;
  height: 24px;
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: opacity var(--animation-duration-fast)
        var(--animation-curve-primary),
      transform var(--animation-duration-fast) var(--animation-curve-primary);
}
 
.navigation-container5 {
  display: none;
}
 
.navigation-container6 {
  display: contents;
}
 
.navigation-container7 {
  display: none;
}
 
.navigation-container8 {
  display: contents;
}
 
.navigation-fragment {
  display: contents;
}
 
.navigation-text2 {
  display: inline-block;
}
 

